---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import ContentPage from '../../components/ContentPage.astro';

---

<Layout title="oñeuz">
	<main class="w-full h-screen">
		<Header />
		<ContentPage />
	</main>
</Layout>

<style>

</style>
