---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import SwiperCards from '../components/SwipeCards.jsx';
---

<Layout title="oñeuz">
	<main class="w-full h-screen">
		<Header />
		<SwiperCards client:load />
	</main>
</Layout>

<style>

</style>
