<nav class="w-full flex items-center place-content-between">
  <a href="/"><img src="/oneus.jpg" /></a>

  <div class="flex gap-6 p-6">
    <a class="hover:underline" href="/">Inicio</a>
    <a class="hover:underline" href="/bio">bio</a>
    <a class="hover:underline" href="#">servicios</a>
    <a class="hover:underline" href="https://www.instagram.com/">contacto</a>
  </div>
</nav>
